body{
	background-color:lightblue;
}

p{
	text-align: center;
	color: grey;
}

a{
	color:#07bc4c;
}

#container{
	padding: 30px;
	position: relative;
	overflow: hidden;
	
}

#albumsList{
	width:48%;
	float: left;
	display: inline-block;
	background-color:lightcyan;
	border: 3px solid #000;
	border-radius: 8px;
}

#pictures{
	float: right;
	width:49%;
	display: inline-block;
	background-color:#eed8e7;
	border: 3px solid #000;
	border-radius: 8px;
}

img{
	width:600px;
	height:600px;
}